.navbardiv {
    height: 50px;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    border: 0;

}

.brandname {
    height: 350px;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    border: 0;
    background-image: url('home-title-image-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-color: rgb(129, 201, 169);
    text-align: center;
}

div,
section {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#banner {
    height: 1200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;

}

#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -100;
}

/*.slmapbg {
    height: 1200px;
    width: 100%;
    background-color: aqua;

    border: 1px;
    margin: 0 auto;
}*/


.slmap {
    height: 1100px;
    width: 800px;
    /*background-color: blue;*/
    background-image: url('../images/sri-lanka-maps/sri-lanka-map-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    float: left;
    border: 1px;
    padding: 50px;
    margin: 20px 10px 10px 5px;

}

.helptext {
    height: 500px;
    width: 350px;
    background-color: greenyellow;
    float: left;
    border: 1px;
    padding: 40px;
    margin: 20px 10px 10px 5px;
    font-family: 'Times New Roman';
    font-size: medium;

}

.hiddenimg {
    display: none;
}

.hiddentxt {
    font-weight: bold;
    color: rgb(27, 7, 129);
    z-index: 99;
}

.hiddentxt a {
    color: rgb(46, 15, 185);
    text-decoration: none;
    z-index: 99;
}

.hiddenclick {
    font-weight: bold;
    color: #F00;
    text-decoration: none;
    cursor: pointer;
}

.hiddenclick a {
    color: #F00;
    text-decoration: none;
}

.hiddenclick a:visited {
    color: #F00;
    text-decoration: none;
}

.hiddentxt:hover~.hiddenimg {
    display: block;
    position: absolute;
    z-index: 2
}

.hiddenclickimg {
    display: none;

}

.categories {
    clear: both;
    padding: 5px;
    height: 400px;
    overflow: hidden;
    background-color: rgb(9, 212, 185);
    color: #080707;

}

.news {
    clear: both;
    padding: 5px;
    height: 400px;
    overflow: hidden;
    background-color: rgb(212, 9, 171);
    color: #080707;

}

.footer {
    clear: both;
    padding: 5px;
    height: 250px;
    overflow: hidden;
    background-color: rgb(15, 135, 168);
    color: #080707;
}

.f1div {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    float: left;
    border: 1px;
    padding: 40px;
    margin: 0px 110px 10px 0px;
    font-family: 'Times New Roman';
    font-size: medium;
}

.f2div {
    height: 200px;
    width: 300px;
    background-color: greenyellow;
    float: left;
    border: 1px;
    padding: 40px;
    margin: 0px 130px 10px 70px;
    font-family: 'Times New Roman';
    font-size: medium;
}

.f3div {
    height: 200px;
    width: 300px;
    background-color: greenyellow;
    float: left;
    border: 1px;
    padding: 40px;
    margin: 0px 0px 10px 140px;
    font-family: 'Times New Roman';
    font-size: medium;
}

.footer2 {
    height: 100px;
    width: 100%;
    border: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(15, 135, 168);
}